.qr-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: space-around;
}
.qr-value {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  min-width: 5.625rem;
  height: 20rem;
}
.label-input {
  display: flex;
  flex-direction: column;
}
